.demo_listing_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-loader.gif') 
                50% 50% 
                no-repeat;
                background-size: 5%;
}

body.demo_listing_loading .demo_listing_modal {
    display: block;
}

.demo-listing-wrap {
    display: block;
    padding: 0px 15px;
}

.demo-content-wrap {
    clear: both;
    display: block;
}

.demo-listing-wrap .tab .tablinks {
    border: none;
    padding: 14px 35px;
    background-color: #444;
    color: #c3c2b9;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    float: left;
    border-right: 1px solid #383838;
    border-top: 2px solid rgba(68, 68, 68, 0);
    position: relative;
}

.demo-listing-wrap .tab {
    margin: 20px 0px;
    float: left;
    width: 100%;
  background-color: #444;
}

.demo-listing-wrap .tab .tablinks:hover {
    color: #fff;
    background-color: #000;
}

.demo-title {
    text-align: center;
    padding: 16px 0px;
    font-size: 18px;
    font-weight: bold;
}

.wbcom-demo-importer .wbcom-button:hover {
    background-color: #b3420b;
}

.wbcom-req-plugin-card {
  float: left;
  background: #fff;
    border: 1px solid #ccc;
    width: 32.3%;
    min-height: 400px;
    max-height: 500px;
    margin: 0 .5% 1%;
    padding: 0 0 20px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: 0.3s;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
    border-radius: 25px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
}

@media (max-width: 1050px) {
.wbcom-req-plugin-card  {
    width: 49%;
}
}

@media (max-width: 570px) {
.wbcom-req-plugin-card {
    width: 100%;
    margin-bottom: 20px;
}
}

.demo-listing-wrap .tab .tablinks.active {
    background-color: #d6d6d6;
    color: #444;
    border-color: #000;
}

.demo-listing-wrap .tab .tablinks.active:after{
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #d6d6d6;
    display: inline-block;
    vertical-align: bottom;
    position:absolute;
    bottom: -20px;
    left: 42%;
}

.wbcom-req-plugin-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.goto-install-demo-step {
    float: left;
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}

.plugin-dependency {
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    color: #d4d4d4;
}

.wbcom-req-plugin-card .plugin-description {
    min-height: 65px;
}

.success-msg {
    width: 400px;
    margin: 0 auto;
    padding: 20px 55px 40px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 13px #c5c5c5;
}

.success-msg h2 {
    font-size: 28px;
    color: #5db70c;
}

.success-msg p {
    font-size: 16px;
}

p.plugin-status {
    display: inline-block;
    padding: 5px 14px;
    background-color: #4cbb1e;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
}

.plugin-container h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0px;
}

.plugin-container {
  padding: 2px 16px;

}

/* The alert message box */

div.wbcom-demo-importer .alert {
  background-color: #fff;
  border-left: 4px solid #f86923;
  padding: 15px;
  margin-bottom: 30px;
}

/* progress bar css :: start */

/* Container for skill bars */

#progress-bar-container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

#progress-bar-container .skills {
  text-align: right; /* Right-align text */
  padding-right: 20px; /* Add some right padding */
  line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  color: white; /* White text color */
}

#progress-bar-container .completed {
  width: 0%;
  background-color: #2196F3; /* Blue */
}

/* progress bar css :: end */

/* current step notification :: start */

/* The snackbar - position it at the bottom and in the middle of the screen */

#progress-snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #2196F3; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#progress-snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.

However, delay the fade out process for 2.5 seconds */

-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
 from {bottom: 0; opacity: 0;}

  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {

  from {bottom: 0; opacity: 0;}

  to {bottom: 30px; opacity: 1;}

}

@-webkit-keyframes fadeout {

  from {bottom: 30px; opacity: 1;}

  to {bottom: 0; opacity: 0;}

}

@keyframes fadeout {

  from {bottom: 30px; opacity: 1;}

  to {bottom: 0; opacity: 0;}

}

/* current step notification :: end */

.wbcom-demo-importer .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
}

@-webkit-keyframes spin {

  0% { -webkit-transform: rotate(0deg); }

  100% { -webkit-transform: rotate(360deg); }

}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}

.wbcom-demo-importer .wbcom-button {
  text-decoration: none;
  background-color: #f86923;
  color: white;
  padding: 9px 35px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  margin: 50px auto;
  font-weight: bold;
  transition: all .5s;
}

.single-container {
  position: relative;
  float: left;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 8px;
}

div#wbtd-current-action {
      margin: auto;
    text-align: center;
    max-width: 500px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    border-left: 4px solid green;
    padding: 15px;
    color: #000000;
    margin-bottom: 30px;
}

.wbcom-demo-importer .container {
  position: relative;
  float: left;
  width: 29%;
  background-color: #fff;
  padding: 10px;
  margin: 11px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.wbcom-demo-importer .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.wbcom-demo-importer .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.wbcom-demo-importer .container:hover .image {
  opacity: 0.1;
}

.wbcom-demo-importer .container:hover .middle {
  opacity: 1;
}

/* Change the width of the three columns to 100%

(to stack horizontally on small screens) */

@media only screen and (max-width: 600px) {

  .wbcom-demo-importer .container {
    width: 100%;
  }
}