/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wbdi-header {
	float: left;
	width: 100%;
	padding: 10px 0px;
}
.wbdi-header .wbdi-plugin-heading {
	float: left;
	margin: 0px;
}
.wbdi-header .wbdi-extra-actions {
	float: right;
	padding-bottom: 10px;
}

 /*SUPPORT*/
.wbdi-adming-setting{
	float: left;
	width: 90%;
}
button.wbdi-accordion {
	background-color: hsl(0, 0%, 87%);
	border: medium none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: hsl(0, 0%, 27%);
	cursor: pointer;
	font-size: 15px;
	margin: 0;
	outline: medium none;
	padding: 15px 20px;
	text-align: left;
	transition: all 0.4s ease 0s;
	width: 100%;
}
button.wbdi-accordion.active, button.wbdi-accordion:hover {
	background-color: hsl(207, 90%, 54%);
	color:white;
}
div.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin:0;
	width: 100%;
}
button.wbdi-accordion::after {
	color: hsl(0, 0%, 47%);
	content: "+";
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
}
button.wbdi-accordion::after:hover {
	color: white;
}
button.wbdi-accordion.active::after {
	content: "−";
	color:white;
}
.wbdi-admin-row{
	clear: both;  
	overflow: hidden;
	padding-bottom: 10px;
}
/*SUPPORT*/
a:focus{
	outline: none !important;
}
.wbdi-no-exports {
	background-color: #FF9797;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}
.wbdi-no-exports p{
	margin-left: 15px;
}
.wbdi-installer-panel .theme .theme-actions{
	opacity: 1;
}
input.wbdi-import-failed {
	background: red !important;
	text-shadow: 0 -1px 1px red !important, 1px 0 1px red !important, 0 1px 1px red !important, -1px 0 1px red !important;
	border-color: red !important;
	box-shadow: 0 1px 0 red !important;
}
input.wbdi-import-success {
	background: green !important;
	text-shadow: 0 -1px 1px green !important, 1px 0 1px green !important, 0 1px 1px green !important, -1px 0 1px green !important;
	border-color: green !important;
	box-shadow: 0 1px 0 green !important;
}
.wbdi-error {
	background: #fff;
	border-left: 4px solid #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 1px 12px;
	border-left-color: red;
}
.theme-browser .theme{
	margin: 0 2% 4% 0 !important;
}
.is-disabled {
	opacity: .5;
	pointer-events: none;
}
.wbdi-proceed {
	text-align: right;
	margin-top: 10px;
}
#progress-bar {
	background-color: #12CC1A;
	height:20px;
	color: #FFFFFF;
	width:0%;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}
#progress-div {
	border:#0FA015 1px solid;
	padding: 5px 0px;
	margin:30px 0px;
	border-radius:4px;
	text-align:center;
}